DATABASE_URL=postgresql+psycopg://postgres:TU_PASSWORD@localhost:5432/skysentinel
SECRET_KEY=CAMBIA_ESTA_CLAVE_POR_UNA_SEGURA
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60

OPENSKY_CLIENT_ID=TU_CLIENT_ID
OPENSKY_CLIENT_SECRET=TU_CLIENT_SECRET
OPENSKY_TOKEN_URL=https://auth.opensky-network.org/auth/realms/opensky-network/protocol/openid-connect/token
OPENSKY_BASE_URL=https://opensky-network.org/api
OPENSKY_HTTP_TIMEOUT_SECONDS=20